<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <h2>Welcome <%= uname %></h2>

    <% for(let start=0; start<30; start++){ %>
    <h3>Heading <%=start %></h3>
    <% } %>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, maxime.
      Eum consequuntur ab nemo. Quibusdam quasi reiciendis officia omnis itaque.
    </p>
  </body>
</html>
