<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login here</h1>
    <form action="">
      <input
        type="email"
        name="emai"
        id="email"
        placeholder="example@email.com"
      />
      <br />
      <input type="password" name="pass" id="pass" placeholder="Password" />
      <br />
      <input type="submit" value="login" />
    </form>
  </body>
</html>
